client/src/pages/__Home.jsx
server/serviceAccountKey.json
server/.DS_Store
server/src/.DS_Store
.DS_Store
server/.DS_Store
server/src/.DS_Store
client/.env
server/.env
server/.DS_Store
server/Data/
Documentazione
